<div class="container">
  <mat-card>
    <mat-card-title>
      <h1>Dummy UI</h1>

    </mat-card-title>
    <mat-card-content>
      <p>This is a test</p>

      <h3>As is this!</h3>

      <h4 data-testid="num">{{ num }}</h4>

      <div class="buttons">
        <button mat-raised-button color="accent" data-testid="fetch-button" id="fetch-button"
          (click)="fetchThing()">Fetch</button>

        <button mat-raised-button color="primary"
                [routerLink]="['/show']">Show</button>

      </div>
    </mat-card-content>

  </mat-card>

  <router-outlet></router-outlet>

</div>

